<html>

<head>
    <title>Flapper News</title>

    <!--    Bootstrap import-->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--    AngularJS main import-->
    <script src="bower_components/angular/angular.min.js"></script>

    <!--    ui-router module import-->
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

    <!--    My main AngularJS module-->
    <script src="flapperNews/flapperNews.module.js"></script>

    <!--    Core modules-->
    <script src="flapperNews/core/core.module.js"></script>
    <script src="flapperNews/core/posts.service.js"></script>

    <!--    Blocks.Router modules-->
    <script src="flapperNews/blocks/router/router.module.js"></script>
    <script src="flapperNews/blocks/router/routes.provider.js"></script>

    <!--    Main modules-->
    <script src="flapperNews/main/main.module.js"></script>
    <script src="flapperNews/main/main.controller.js"></script>

    <style>
        .glyphicon-thumbs-up {
            cursor: pointer
        }
    </style>

</head>

<body ng-app="flapperNews" ng-controller="MainController as vm">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="page-header">
                <h1>Flapper News</h1>
            </div>

            <div ng-repeat="post in vm.posts | orderBy: '-upvotes'">
                <span class="glyphicon glyphicon-thumbs-up" ng-click="vm.incrementUpvotes(post)"></span> {{post.upvotes}}

                <span style="font-size:20px; margin-left:10px;">
                <a ng-show="post.link" href="{{post.link}}">
                    {{post.title}}
                </a>

                <span ng-hide="post.link">
                    {{post.title}}
                </span>
                </span>
            </div>

            <div>
                <form ng-submit="vm.addPost()" style="margin-top:30px;">
                    <h3>Add a new post</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Title" ng-model="vm.title">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Link" ng-model="vm.link">
                    </div>
                    <button type="submit" class="btn btn-primary">Post</button>
                </form>
            </div>

        </div>
    </div>

</body>

</html>
