<html>

<head>
    <title>My Angular App!</title>

    <!--    AngularJS main import-->
    <script src="bower_components/angular/angular.min.js"></script>

    <!--    My main AngularJS module-->
    <script src="app/flapperNews.module.js"></script>

    <!--    Main module-->
    <script src="app/main/main.module.js"></script>
    <script src="app/main/mainController.js"></script>

</head>

<body ng-app="flapperNews" ng-controller="MainController as vm">

    <div>
        {{vm.test}}
    </div>

    <div ng-repeat="post in vm.posts | orderBy: '-upvotes'">

        <span ng-click="vm.incrementUpvotes(post)">^</span>

        <a ng-show="post.link" href="{{post.link}}">
            {{post.title}}
        </a>

        <span ng-hide="post.link">
            {{post.title}}
        </span>

        <span>
            - upvotes: {{post.upvotes}}
        </span>
    </div>

    <div>
        <form ng-submit="vm.addPost()">
            <input type="text" placeholder="Title" ng-model="vm.title">
            <br>
            <input type="text" placeholder="Link" ng-model="vm.link">
            <br>
            <button type="submit">Post</button>
        </form>
    </div>

</body>

</html>
