<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list">

      <label class="item item-input">
        <input type="text" placeholder="Heli Name" ng-model="in.name">
      </label>
      <label class="item item-input">
        <input type="number" placeholder="Latitude" ng-model="in.geolocation.latitude">
      </label>
      <label class="item item-input">
        <input type="number" placeholder="Longitude" ng-model="in.geolocation.longitude"></input>
      </label>
      <button class="button button-balanced button-block" ng-click="newHeli()">
        New Heli
      </button>

    </div>


    <div class="list card" ng-show="heli.id!=null">
      <div class="item item-divider">Fresh Heli</div>
      <div class="item item-body">

        <p>Heli id: {{heli.id}}</p>
        <p>Heli name: {{heli.name}}</p>
        <p>Heli Latitude: {{heli.geolocation.latitude}}</p>
        <p>Heli Longittude: {{heli.geolocation.longitude}}</p>

      </div>
    </div>
  </ion-content>
</ion-view>
